@font-face {
    font-family: "Plus Jakarta Sans";
    src: url(./assets/fonts/PlusJakartaSans-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Plus Jakarta Sans';
    font-weight: 500;
    color: hsl(224, 21%, 14%)
}

p {
    
    color: hsl(219, 12%, 42%);
}

a {
    font-weight: 800;
    text-decoration: none;
    color: hsl(224, 21%, 14%)
}

a:visited {
    color: hsl(219, 12%, 42%);
}

a.member:visited {
    color: hsl(224, 21%, 14%)
} 

a:hover {
    color: hsl(219, 85%, 26%);
}
a.member:hover {
    color: hsl(219, 85%, 26%);
}

.bullet {
    color: hsl(1, 90%, 64%);
    font-size: 1.25rem;
}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0rem;
}

.btnMarkAsRead:hover {
    color:hsl(219, 85%, 26%);
    cursor: pointer;

}

.notifications {
    display: flex;
    align-items: center;
}

#notificationCounter {
    background: hsl(219, 85%, 26%);
    color: white;
    padding: 0rem 0.75rem;
    margin: 0 1rem;
    text-align: center;
    font-size: 1rem;
    line-height: 1.75rem;
    border-radius: 0.5rem;
    /* height: 100%; */

}

.cardStack {
    width: 80%;
    
}

.card {
    display: flex;
    background: hsl(0, 0%, 100%);
    padding: 1.5rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
    gap: 1.5rem;
}

.newMessage {
    background: hsl(210, 60%, 98%);
}

.card img {
    height: 3.5rem;
}

.card-text {
    flex-grow: 1;
}

.timestamp {
    margin-top: 0.5rem;
    color: hsl(219, 14%, 63%);
}

.message {
    border: 1px solid hsl(205, 33%, 90%);
    border-radius: 0.5rem;
    padding: 1rem;
    margin-top: 0.75rem;
    color: hsl(219, 12%, 42%);
}

.message:hover {
    background: hsl(205, 33%, 90%);
    cursor: pointer;
}

.image {
    justify-self: end;
}

.image:hover {
    cursor: pointer;
    border: 2px solid hsl(205, 33%, 90%);
    border-radius: 0.6rem;
}

/* .header > * {
    outline: 2px solid red;
} */

/* .card > * {
    outline: 2px solid green;
} */